@using BlogProject.Web.Areas.Member.Models.VMs
@model List<GetArticleForComponentDTO>


@foreach (var item in Model)
{
    <div class="col-md-12">

        <div class="card card-widget">
            <div class="card-header">
                <div class="user-block">
                    <span class="photo"><img src="@item.UserImagePath" /></span>
                    <span class="username"><a asp-controller="AppUser" asp-action="Detail" asp-route-id="@item.UserId">@item.UserFullName</a></span>
                    <span class="description">Shared publicly - @item.CreatedDate</span>
                </div>
                <!-- /.user-block -->
@*                <div class="card-tools">
                    <button type="button" class="btn btn-tool" title="Mark as read">
                        <i class="far fa-circle"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>*@
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <img class="img-fluid circle" src="@item.Image" alt="Photo">
                <p><b>@item.Title</b></p>
                <p>@item.Content.Substring(0,30)</p>
                <a asp-controller="Article" asp-action="Detail" asp-route-id="@item.ArticleID">devamını okumak için tıklayınız...</a>
                <a class="bg-gray-dark" asp-controller="Comment" asp-action="Create" asp-route-id="@item.ArticleID">Yorum Yap</a>
                @if (@item.IsLiked)
                {
                    <a asp-area="Member" asp-controller="Article" asp-action="Dislike" asp-route-id="@item.ArticleID">Beğeniyi kaldır</a><i class="fa fa-thumbs-down"></i>
                    <p>Beğeni Sayısı : @item.LikeCount</p>

                }
                else
                {
                    <a asp-area="Member" asp-controller="Article" asp-action="Like" asp-route-id="@item.ArticleID">Beğen</a><i class="fa fa-thumbs-up"></i>
                    <p>Beğeni Sayısı : @item.LikeCount</p>
                }
            </div>
            @foreach (var ite in @item.Comments.Where(a => a.ArticleId == @item.ArticleID))
            {
                @if (@ite != null && @ite.AppUser != null)
                {
                        <!-- /.card-body -->
                        <div class="card-footer card-comments">
                            <div class="card-comment">
                                <div class="product-image fluid">
                                    <img src="@ite.AppUser.ImagePath">
                                </div>
                                <div class="comment-text">
                                    <span class="username">
                                        @ite.AppUser.UserName
                                    </span>
                                </div>
                                
                            </div>
                            @ite.Text
                        </div>
                        <!-- /.card-footer -->
                   
                }
                else;


        }





            <!-- /.card-footer -->
        </div>
    </div>


}

