@using BlogProject.Web.Areas.Member.Models.DTOs
@model List<GetCategoryForFollowsDTO>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Kategori Listesi</h3>

        <div class="card-tools">
            <ul class="pagination pagination-sm float-right">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table">
            <thead>
                <tr>

                    <th>Kategori Ad</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a asp-action="ListByCategory" asp-controller="Article" asp-route-id="@item.ID">@item.Name</a></td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-success">Güncelle</a>
                        </td>

                        <td>
                            <a asp-action="Detail" asp-route-id="@item.ID" class="btn btn-warning">Detay</a>
                        </td>

                        @if(@item.IsFollowing == true)
                        {
                        <td>
                            <a asp-action="Unfollow" asp-route-id="@item.ID" class="btn btn-info">Takibi Bırak</a>
                        </td>
                        }
                        else
                        {
                        <td>
                            <a asp-action="Follow" asp-route-id="@item.ID" class="btn btn-info">Takip et</a>
                        </td>
                        }
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>